<ion-header>
  <ion-toolbar>
    <ion-navbar>
      <ion-title class="test" text-center>Statistics</ion-title>
    </ion-navbar>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-card-header>
    Here you can see report of your expenses
  </ion-card-header>
  <ion-item>
    <ion-label><span class="statistic_peroid">From:</span></ion-label>
    <ion-icon name="md-calendar" item-right></ion-icon>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDateFrom"></ion-datetime>
  </ion-item>
  <p></p>
  <p></p>
  <ion-item>
    <ion-label><span class="statistic_peroid">To:</span></ion-label>
    <ion-icon name="md-calendar" item-right></ion-icon>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDateTo"></ion-datetime>
  </ion-item>
  <p></p>
  <button ion-button round block color="secondary" (click)="getExpensesByDate()">FILTER</button>
  <ion-spinner *ngIf="(statistics$ | async).loading"></ion-spinner>
  <div *ngIf="!(statistics$ | async).loading">
    <div *ngIf="(statistics$ | async).expensesStatistics.length">
      <ion-row>
        <ion-col><h5>Category</h5></ion-col>
        <ion-col><h5>Sum</h5></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of tableData">
        <ion-col>{{item.category}}</ion-col>
        <ion-col>{{item.money}} UAH </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><strong>Total</strong></ion-col>
        <ion-col>{{totalSum}} UAH</ion-col>
      </ion-row>
    </div>
    <chart *ngIf="statisticsData.length !== 0" [options]="options"></chart>
  </div>


  <div class="expenses_data">
    <ion-row responsive-lg>
      <ion-list>
        <div *ngFor="let item of expensesData_" >
          <p class="date_balance">Date: {{item.date}}</p>
          <ion-item *ngFor="let source of item.sources" >
            <p><span>{{source.category}} :</span> {{source.money}} {{source.currency}}</p>
            <p *ngIf="source.description"><span>description:</span> {{source.description}}</p>
          </ion-item>
        </div>
      </ion-list>
    </ion-row>
  </div>
</ion-content>
