
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #loginForm="ngForm" novalidate>
    <ion-item>
      <ion-label floating color="primary">Email</ion-label>
      <ion-input [(ngModel)]="credentials.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
                 required
                 pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$">
      </ion-input>
    </ion-item>
    <div  padding-left  [hidden]="email.valid || email.untouched">
      <p color="danger" *ngIf="email.errors && email.errors.required">
        Email is required
      </p>
      <p color="danger" *ngIf="email.errors && email.errors.pattern">
        Email is not valid
      </p>
    </div>

    <ion-item>
      <ion-label floating color="primary">Password</ion-label>
      <ion-input [(ngModel)]="credentials.password"
                 name="password" type="password"
                 #password="ngModel"
                 minlength="6"
                 required>
      </ion-input>
    </ion-item>
    <div  padding-left  [hidden]="password.valid || password.untouched">
      <p color="danger" *ngIf="password.errors && password.errors.required">
        Password is required
      </p>
      <p color="danger" *ngIf="password.errors && password.errors.minlength">
        Password must contain at least 6 characters
      </p>
    </div>



    <ion-row responsive-sm>
      <ion-col>
        <button [disabled]="!loginForm.valid" ion-button (tap)="doLogin(loginForm)" type="submit" color="primary" block>Login</button>
      </ion-col>
      <ion-col>
        <button [disabled]="!loginForm.valid" ion-button (tap)="doCreateUser(loginForm)" type="submit" color="primary" block>Create user</button>
      </ion-col>
    </ion-row>

  </form>
  <p class="error_auth">{{(auth$ | async).error?.message}}</p>
</ion-content>
