div.spinner {
  text-align: center;
  stroke: green ;
  fill:  green ;
}

chart {
  display: block;
}

.date_balance{
  background: cadetblue;
  padding: 10px;
  color: white !important;
  border-radius: 3px;
  width: 100%;

}

.expenses_data {
  p {
    color: #454C50;
  }
  span {
    color: #23503D;
  }
}